<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <header>
    
        

    <h1 class="text-center text-3xl font-bold bg-blue-300 py-8">quel personnage de brawl stars es tu ?  </h1>
    

    </header>



    <main class = "bg-blue-200 h-screen">
        
        <p class ="text-center text-2xl"> {{question}}</p>
        <div class="flex justify-center">
      
        <ul>

        
        <li> <a href="/reponse/0">{{reponses[0]}}</a></li>
        <li> <a href="/reponse/1">{{reponses[1]}}</a></li>
        <li> <a href="/reponse/2">{{reponses[2]}}</a></li>
        <li> <a href="/reponse/3">{{reponses[3]}}</a></li>
        </ul>

        </div>

        
     
    </main>


    <footer class="fixed bottom-0 w-full">
        <h2 class="text-center text-2xl font-bold bg-blue-400 py-5"> copyright: Supercell</h2>

    </footer>


</body>
</html>